body {
    background-color: lavender;
}

h1 {
  font-family: 'Dancing Script', cursive;
}

h2 {
background: linear-gradient(to bottom right, violet,lavender);
}

td, th{
  border: 1px solid black;
}
.tablestyle {
  border: 1px solid black;
  
}

.tablestyle th {
   color: violet;
}


.examples {
  background-color: lightgray;

}

.examples p {
  font-family: "Courier New", Sans-Serif;
}
